.home-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.get-started-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.left-panel {
  width: 50%;
}

.claim-quote {
  color: #5760ec;
  font-size: 1.5vw;
}

.get-started--text {
  font-size: 3.5vw;
  line-height: 4.2vw;
  margin: 12px 0 22px 0;
}

.span-get-started--text {
  text-decoration: underline;
  text-decoration-color: #ffa500;
}

.uae-offshore--text {
  color: #5760ec;
  font-size: 1.25rem;
  margin-bottom: 18px;
}

.uae-subtext {
  font-size: 1.25rem;
  font-weight: 600;
  color: #acadac;
  width: 70%;
}

.get-started--footer-action {
  display: flex;
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.study-image {
  width: 100%;
  height: 500px;
}

.mobile-left-panel-header {
  display: none;
}

.watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
  color: #5760ec;
  font-size: 1.4vw;
  font-weight: 500;
}

.play-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5760ec;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.play-icon > img {
  margin-top: -3px;
  margin-left: -1px;
}

.watch-video-content {
  display: flex;
  align-items: center;
}

.mission-dedication {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.dedicated--text > span {
  border-bottom: 5px solid #ffa500;
}

.mission-dedication--subtext {
  margin: 20px 0 80px 0;
  color: #adadad;
  font-size: 3vh;
}

.company-reg--wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.company-benefits {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.company-benefits--mobile {
  display: none;
}

.company-benefits--left-panel {
  width: 40%;
}

.company-benefits--right-panel {
  width: 40%;
}

.company-benefits-title--wrapper {
  margin-bottom: 100px;
}

.company-benefits-title--wrapper-bottom {
  margin-top: -120px;
}

.company-benefits-title {
  margin-bottom: 15px;
  color: #373737;
}

.company-benefits--action {
  color: #5f69ee;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}

.company-benefits--action > img {
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.company-benefits--action2 {
  color: #5f69ee;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}

.company-benefits--action2 > img {
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.affordable-pricing--text {
  text-align: center;
  font-size: 1.75rem;
  width: 50%;
  margin: 0 auto 100px auto;
  line-height: 45px;
  letter-spacing: 0.1px;
}

.popular-pricing--underline {
  border-bottom: 5px solid #ffa500;
}

.payment-section {
  width: 90%;
  margin: 30px auto 120px auto;
  display: flex;
}

.blog-footer-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.blog-footer--left-section {
  width: 40%;
}

.blog-footer--right-section {
  width: 40%;
}

.blog-footer-content-wrapper {
  padding-left: 30px;
}

.email-address {
  height: 60px;
  width: 70%;
  border: none;
  background-color: #f5f5f5;
  padding-left: 20px;
  font-size: 1.125rem;
}

.email-address input::placeholder {
  color: #adadad;
}

.email-add-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.email-add-sent-img {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .home-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .get-started-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 12px;
  }

  .left-panel {
    width: 100%;
  }

  .right-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .study-image {
    width: 100%;
    height: 500px;
  }

  .uae-subtext {
    width: 100%;
  }

  .mobile-left-panel-header {
    display: block;
    margin-top: 60px;
  }

  .claim-quote {
    color: #5760ec;
    font-size: 4.5vw;
    font-weight: 800;
  }

  .get-started--text {
    font-size: 6vw;
    line-height: 8vw;
    margin: 12px 0 22px 0;
  }

  .left-panel-header {
    display: none;
  }

  .get-started--footer-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }

  .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #5760ec;
    font-size: 3.3vw;
    font-weight: 500;
    width: 60%;
    margin: 60px auto;
  }

  .play-icon {
    border: 2px solid #5760ec;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
  }

  .watch-video-content {
    display: block;
  }

  .mission-dedication {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .company-reg--wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .company-benefits {
    display: none;
  }

  .company-benefits--mobile {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .company-benefits--left-panel {
    width: 100%;
  }

  .company-benefits--right-panel {
    width: 100%;
  }

  .company-benefits-title--wrapper {
    text-align: center;
    width: 80%;
    margin: 0 auto 50px auto;
  }

  .company-benefits-title--wrapper-bottom {
    text-align: left;
    width: 60%;
    margin: -20px auto 0px auto;
  }

  .company-benefits--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .affordable-pricing--text {
    display: none;
  }

  .blog-footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto 0 auto;
    align-items: center;
    /* justify-content: space-between; */
  }

  .blog-footer--left-section {
    width: 90%;
  }

  .blog-footer--right-section {
    width: 90%;
  }

  .blog-footer-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 0;
  }

  .email-address {
    height: 40px;
    width: 80%;
  }

  .email-add-sent-img {
    width: 40px;
    height: 40px;
  }

  .email-footer-sm-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
  }

  .email-add-wrapper {
    margin-bottom: 0px;
  }
}

@media (max-width: 426px) {
  .study-image {
    width: 100%;
    height: 300px;
  }
}
